.body-info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.step-wrapper {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-bar {
  /* position: absolute; */
  width: 335px;
  height: 6px;
  /* left: 20px; */
  /* top: 78px; */
  background-color: #e3e6ea;
  border-radius: 8px;
}
