.map {
  position: absolute;
  background-image: url("../assets/map_image.png");
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.user-avatar {
  position: absolute;
  left: 5.33%;
  right: 85.07%;
  top: 6.03%;
  bottom: 89.53%;
  background: url("../assets/ann_profile.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 35px;
}

.title {
  /* Ann, where to? */

  position: absolute;
  width: 153px;
  height: 28px;
  left: 68px;
  top: 52px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  /* Black */

  color: #333333;
  margin: 0px 0px 0px 0px;
}

.searchbar-wrapper {
  /* Rectangle 80 */
  display: flex;
  align-items: center;
  position: absolute;
  width: 335px;
  height: 53px;
  left: 19px;
  top: 100px;

  /* White */

  background: #ffffff;
  /* Gray4 */

  border: 1px solid #e9ecf0;
  box-sizing: border-box;
  /* 1 */

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.direct-icon {
  /* directions */

  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.main-page-press-enter {
  display: flex;
  position: absolute;
  width: 110px;
  height: 35px;
  left: 58px;
  top: 163px;

  align-items: center;
  justify-content: center;

  background-color: #FFFFFF;
  border-radius: 15px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  box-shadow: 0px 4px 8px rgba(75, 75, 75, 0.08);
}

.searchbar {
  margin-left: 7px;
  width: 70%;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Gray2 */

  color: #a2a4aa;
}

.searchbar:focus {
  outline: none;
}

.car-a3-1 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 203px;
  top: 254px;
}

.car-a3-2 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 308px;
  top: 472px;

  transform: rotate(90deg);
}

.car-a3-3 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 168.02px;
  top: 685.37px;

  transform: rotate(159.06deg);
}

.locator-button {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 307px;
  top: 165px;

  /* White */

  background: #ffffff;
  /* Gray4 */

  border: 1px solid #e9ecf0;
  box-sizing: border-box;
  /* Small Button */

  box-shadow: 0px 4px 8px rgba(75, 75, 75, 0.08);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin {
  position: absolute;
  left: 132.59px;
  top: 362px;
  width: 96px;
  height: 96px;
  background: #767cea;
  /* White */
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 4px rgba(83, 81, 197, 0.5);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.oval {
  position: absolute;
  left: 132.59px;
  top: 362px;
  width: 96px;
  height: 96px;
  background: #767cea;
  opacity: 0.1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
