.rate-page-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/dest_map.png") rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.pop-up-card {
  /* Rectangle 78 */
  position: relative;
  width: 335px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.02);
  border-radius: 16px;
}

.rate-statusbar-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: fit-content;
  z-index: 5;
}

.close-button-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 294px;
  top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-profile-wrapper {
  width: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.first-profile-photo {
  width: 103px;
  height: 103px;
  background-image: url("../assets/driver_rate.png");
  background-position: center center;
  background-size: 100% 100%;
}

.first-profile-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  margin-top: -10px;
  text-align: center;

  /* Gray1 */

  color: #646b71;
}

.first-question {
  margin: auto;
  margin-bottom: 26px;
  width: 248px;
  height: 44px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  /* or 116% */

  text-align: center;

  /* Black */

  color: #333333;
}

.star-counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 28px;
}

.star-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.star-counter-str {
  margin-top: 14px;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* Main */

  color: #767cea;
}

.first-detail-button-ride {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 285px;
  height: 48px;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* Main */

  color: #767cea;

  background: rgba(255, 255, 255, 0.87);
  /* Main */

  border: 1px solid #767cea;
  box-sizing: border-box;
  border-radius: 8px;
}

button {
  outline: none;
  border: 0;
}

.first-next-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 285px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* White */

  color: #ffffff;
}

.disable {
  background-color: #e9ecf0;
  border-radius: 8px;
}

.able {
  cursor: pointer;
  background: #767cea;
}

.first-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.modal-wrapper {
  position: absolute;
  width: 335px;
  height: 614px;
  left: 20px;
  top: 99px;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  /* identical to box height, or 116% */

  text-align: center;
  margin-top: 68px;
  margin-bottom: 12px;

  /* Black */

  color: #333333;
}

.modal-subtitle {
  width: 246px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  text-align: center;
}

.modal-toggle-form-wrapper {
  margin-top: 31px;
  margin-bottom: 23px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal-toggle-form {
  position: relative;
  width: 280px;
  height: 41px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-toggle-form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Black */

  color: #333333;
}

.modal-toggle-switch {
  position: absolute;
  top: 2px;
  left: 225px;
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

input {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

.toggle-button-cover {
  position: relative;
  box-sizing: border-box;
}

.button-cover:before {
  color: #d7e3e3;
  font-size: 12px;
  font-family: Roboto;
  line-height: 1;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 20px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #f3f5f7;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 20px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: #fff;
}

#button-10 .knobs:after {
  content: "YES";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #333;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 42px;
  background-color: #fff;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #333;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #f3f5f7;
}

#modal-cancel-button {
  width: 137.9px;
}

#modal-okay-button {
  width: 137.9px;
}

.second-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
.second-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  /* identical to box height, or 116% */

  /* Black */

  color: #333333;
}

.second-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  /* Gray1 */

  color: #646b71;
}

.second-tip-wrapper {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.tip-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 23px;

  width: 69px;
  height: 36px;

  /* Gray3 */

  border: 1px solid #c7cbd0;
  box-sizing: border-box;
  border-radius: 20px;
}

.tip-disable {
  background-color: #fff;
}

.second-tip-write-wrapper {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.second-tip-write-wrapper > input:nth-child(1) {
  outline: none;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;

  /* Gray2 */

  color: #a2a4aa;
}

.second-tip-write-wrapper > input:nth-child(1):focus {
  color: #333;
}

.third-profile-photo {
  width: 103px;
  height: 103px;
  background-image: url("../assets/end_rate.png");
  background-position: center center;
  background-size: 100% 100%;
}
