.rate-page-wrapper {
  position: absolute;
  background-color: #c7cbd0;
  width: 100%;
  height: 100%;
}

.pop-up-card {
  /* Rectangle 78 */
  position: absolute;
  width: 335px;
  height: 457px;
  left: 20px;
  top: 177px;

  background: #ffffff;
  box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.02);
  border-radius: 16px;
}

.close-button-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 23px;
  left: 294px;
}
