.start-page-body-info-wrapper {
  height: 100%;
  width: 100%;
  background-color: #767cea;
}

.start-page-main-title {
  margin: 93px 0 0 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.start-page-illustrator {
  margin: 114px 0 170px 0;
  display: flex;
  justify-content: center;
}

.start-page-start-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 91%;
  height: 13%;
  margin: 0 auto;
}

.start-page-start-button button {
  width: 100%;
  height: 48px;
  outline: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 8px;
  outline: none;
  border: 0;

  color: #767cea;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
