.star-page-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
}

.avartar {
  border-radius: 50%;
  position: absolute;
  width: 78px;
  height: 78px;
  left: 149px;
  top: 230px;
  background: #d2d2d2;
}

.question {
  position: absolute;
  width: 195px;
  height: 26px;
  left: 90px;
  top: 334px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  /* Black */

  color: #333333;
}

.driver-info1 {
  /* Today at 3pm */

  position: absolute;
  width: 71px;
  height: 14px;
  left: 68px;
  top: 386px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  /* Gray2 */

  color: #a2a4aa;
}

.driver-info2 {
  /* Driver #5625 */

  position: absolute;
  width: 70px;
  height: 14px;
  left: 233px;
  top: 386px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  /* Gray2 */

  color: #a2a4aa;
}

.star-counter-wrapper {
  position: absolute;
  width: 237.42px;
  height: 40px;
  left: 69px;
  top: 426px;
}

.star-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stars {
  width: fit-content;
}
